:root {
  --accent-color: #2196f3;
  --secondary-text-color: #757575;
  --main-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
  --main-btn-color: #f5f4fa;
  --dark-grey-color: #2f303a;
  --black-color: #000000;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  background-color: var(--white-color);
  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif;
}
/*Утилиты*/
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.btn {
  font-family: inherit;
  border: none;
  cursor: pointer;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid #eeeeee;
}

/* top-line */

.top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top {
  background-color: var(--white-color);
}

.top-list {
  display: flex;
  align-items: center;
}

.top-nav {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.top-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--black-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  align-items: center;
  margin-right: 50px;
}

.top-logo-part {
  color: var(--accent-color);
}

.top-accent {
  color: var(--accent-color);
}

.top-item {
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.top-item:last-child {
  margin-right: 0;
}

.top-contacts {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.top-link:hover,
.top-link:focus {
  color: var(--accent-text-color);
  text-decoration: none;
}

.top-link {
  color: var(--main-text-color);
}
.current {
  color: var(--accent-text-color);
}

.top-mail:hover,
.top-mail:focus {
  color: var(--accent-text-color);
  text-decoration: none;
}

.top-mail {
  color: var(--secondary-text-color);
}

.top-tel:hover,
.top-tel:focus {
  color: var(--accent-text-color);
  text-decoration: none;
}

.top-tel {
  color: var(--secondary-text-color);
}

.top-contacts {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/*index*/
.header {
  background-color: var(--dark-grey-color);
}
.header-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--dark-grey-color);
  text-transform: uppercase;
  margin: 200px 252px 30px 252px;

  box-sizing: content-box;
  text-align: center;
}

.header .container {
  display: flex;
  flex-direction: column;
}

.header-btn {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 200px;
  padding: 10px 32px;
  width: fit-content;
  text-align: center;
  box-sizing: content-box;
  border-radius: 4px;
}

.header-btn:hover,
.header-btn:focus {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.header-btn {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.features {
  background-color: var(--white-color);
}
.visually-hidden {
  color: var(--white-color);
}
.features-list {
  display: flex;
  flex-direction: row;
}

.features-item {
  margin-right: 30px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: left;
}
.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: left;
}

.about {
  background-color: var(--white-color);
}
.about-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team {
  background-color: var(--main-btn-color);
}
.team-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-item {
  background-color: var(--white-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/*footer*/
.address {
  background-color: var(--dark-grey-color);
  color: var(--white-color);
  letter-spacing: 0.03em;
}

.address-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.address-logo-part {
  color: var(--accent-text-color);
  font-style: normal;
}
.address-link {
  color: var(--white-color);
  font-style: normal;
}

.address-list {
  color: var(--white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.mail-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.tel-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-text-color);
  text-decoration: none;
}
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-text-color);
  text-decoration: none;
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-text-color);
  text-decoration: none;
}
/*portfolio*/

.filters {
  background-color: var(--white-color);
  color: var(--main-text-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.filters-main-btn {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.filters-main-btn:hover,
.filters-main-btn:focus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.filters-main-btn {
  color: var(--main-text-color);
  background-color: var(--main-btn-color);
}

.filters-btn {
  background-color: var(--main-btn-color);
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.filters-btn:hover,
.filters-btn:focus {
  color: var(--main-text-color);
  background-color: var(--main-btn-color);
}
.project-link.link {
  text-decoration: none;
}

.project-link:hover,
.project-link:focus {
  background-color: var(--white-color);
}

.project-title {
  color: var(--main-text-color);
  font-style: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-title:hover,
.project-link:focus {
  background-color: var(--white-color);
}

.project-description {
  color: var(--secondary-text-color);
  font-style: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.project-description:hover,
.project-link:focus {
  background-color: var(--white-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
